body { 
  padding-top: 140px;
}

#progrezz-logo {
  margin-top: 80px;
  display: block;
  text-align: center;
  vertical-align: middle;
}

#progrezz-logo * {
  vertical-align: middle;
}

#progrezz-logo span {
  display: inline-block;
  height: 100%;
  width: 1px;
}

#sign-out-button {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
}

#authentication-panel {
  margin: 20px;
}