[submodule "public/api-rest"]
	path = public/api-rest
	url = https://github.com/teamprogrezz/progrezz-client-api-rest
[submodule "public/games/linksnake"]
	path = public/games/linksnake
	url = https://github.com/teamprogrezz/progrezz-minigames-linksnake
[submodule "public/api-websocket"]
	path = public/api-websocket
	url = https://github.com/teamprogrezz/progrezz-client-api-websocket
