[submodule "api-rest"]
	path = api-rest
	url = https://github.com/teamprogrezz/progrezz-client-api-rest
[submodule "games/linksnake"]
	path = games/linksnake
	url = https://github.com/teamprogrezz/progrezz-minigames-linksnake
[submodule "api-websocket"]
	path = api-websocket
	url = https://github.com/teamprogrezz/progrezz-client-api-websocket
[submodule "ra-viewer"]
	path = ra-viewer
	url = https://github.com/teamprogrezz/progrezz-ar
