<!DOCTYPE html>
<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">
  
    <link rel="icon" href="assets/img/icons/icon.png" type="image/png">
    
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/viewer.css">

    <script type="text/javascript" src="../lib/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-jstorage/jstorage.min.js"></script>
    <script type="text/javascript" src="../api-rest/js/progrezz-api-rest.js"></script>
    <script type="text/javascript" src="../api-websocket/js/progrezz-api-websocket.js"></script>
    <script type="text/javascript" src="../js/utilities/localStorage.js"></script>
    <script type="text/javascript" src="../js/utilities/serverRequest.js"></script>
    <script type="text/javascript" src="../js/utilities/serverWebSocket.js"></script>
    <script type="text/javascript" src="../ra-viewer/lib/three.js/three.min.js"></script>
    <script type="text/javascript" src="../ra-viewer/lib/three.js/DeviceOrientationControl.js"></script>
    <script type="text/javascript" src="../ra-viewer/lib/three.js/renderers/CanvasRenderer.js"></script>
    <script type="text/javascript" src="../ra-viewer/lib/three.js/renderers/Projector.js"></script>
    <!--<script type="text/javascript" src="../ra-viewer/js/ARProgrezz.min.js"></script>-->
    <script type="text/javascript" src="../ra-viewer/js/ARProgrezz.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Utils.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Preloader.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/PositionControls.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Object.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Support.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Video.js"></script>
    <script type="text/javascript" src="../ra-viewer/js/Viewer.js"></script>
    <script type="text/javascript" src="../js/controllers/viewer.js"></script>
    
</head>
<body>
</body>

</html>