
@media (min-width: 768px) {
  .navbar-header {
    float:none
  }
}

.logo{
  max-height: 3em;
}

.navbar-header{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: #000000 solid 3px;
}

.navbar .btn{
  border-color: #000000;
  border-style: solid;
  border-bottom-width: 3px;
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

.btn-group{
  box-shadow: none;
}

.clear-margin{
  margin: 0!important;
}
.clear-padding{
  padding: 0!important;
}