body { 
  padding-top: 120px;
}

.label{
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
  min-width: 7em;
}

.status-container{
  padding-bottom: 5px!important;
}

.row-picture{
  float: left;
}
.progress {
	height:20px!important;
	margin-top: 1em;
}

.progress .progress-bar-warning, .label-warning {
	background-color: #FFB122;
}
.progress-percentage {
  font-weight: bold;
  color: black;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
}

