<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-material-design/css/material-wfont.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css" />  
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="../lib/leaflet-locatecontrol/css/L.Control.Locate.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/map.css" />
  
  <script type="text/javascript" src="../lib/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-material-design/js/material.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="../lib/leaflet-locatecontrol/js/L.Control.Locate.min.js"></script>
  <script type="text/javascript" src="../js/utilities/fastclick.js"></script>
  <script type="text/javascript" src="../js/controllers/incompleteLocation.js"></script>

</head>
<body onload="initFastButtons();" class="ui-mobile-viewport ui-overlay-a">
  <span id="fastclick">
  <div>
    <div data-role="header" class="navbar navbar-fixed-top navbar-material-deep-purple">
      <div class="navbar-header text-center">
        <img src="../assets/img/progrezz.png" class="logo">
      </div>
      <div class="row button-bar">
        <div class="col-xs-12 clear-margin clear-padding">
          <div class="btn-group btn-group-justified clear-margin clear-padding">
            <a href="views/map.html" class="btn btn-info btn-lg"><i class="mdi-action-room"></i> Fragmentos</a>
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</body>

</html>
