<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-material-design/css/material-wfont.min.css">
  <link rel="stylesheet" type="text/css" href="../css/messages.css" />
  
  <script type="text/javascript" src="../lib/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-material-design/js/material.min.js"></script>
  <script type="text/javascript" src="../js/utilities/fastclick.js"></script>
  <script type="text/javascript" src="../js/controllers/messageComplete.js"></script>

</head>
<body onload="initFastButtons();">
  <span id="fastclick">
    <div class="navbar navbar-fixed-top navbar-material-deep-purple">
      <div class="navbar-header text-center">
        <img src="../assets/img/progrezz.png" class="logo">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-material-deep-purple">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body"></div>
          </div>
        </div>
      </div>
    </div>
  </span>
</body>
  
</html>