#map { 
   height: 720px;
   position: relative;
}

.clear-margin{
  margin: 0!important;
}
.clear-padding{
  padding: 0!important;
}

.list-group{
  border-bottom: #A6A6A6 solid 1px;
}

.logo{
  max-height: 3em;
}
.navbar-header{
  padding-bottom: 10px;
  padding-top: 10px;
}
.btn-group{
  box-shadow: none;
}


@media (min-width: 768px) {
    .navbar-header {
        float:none
    }
}

.label{
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
  min-width: 7em;
}

.status-container{
  padding-bottom: 5px!important;
}

.ui-header{
   border-radius: 0! important;
   margin-bottom: 0! important;
   background: #673ab7 !important
}